<body>

<div class="row">

    <div class="col-lg-4">
        <div class="container">
            <div class="upper-container" style="background-image: url(assets/c1.jpg);"></div>
            <div class="img-sec"><img src="assets/pfp.png" alt=""></div>
            <div class="card-body">
                <h2 class="name">Name <span class="age">Age</span></h2>
                <h3 class="city">Work</h3>
                <h3 class="city">Contact Number</h3>
                <div class="activity-container">
                    <h4>80K <span class="act">Likes</span></h4>
                    <h4>803K <span class="act">Dislikes</span></h4>
                </div>
            </div>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="container">
            <div class="upper-container"></div>
            <div class="img-sec"><img src="assets/pfp.png" alt=""></div>
            <div class="card-body">
                <h2 class="name">Name <span class="age">Age</span></h2>
                <h3 class="city">Work</h3>
                <h3 class="city">Contact Number</h3>
                <div class="activity-container">
                    <h4>80K <span class="act">Likes</span></h4>
                    <h4>803K <span class="act">Dislikes</span></h4>
                </div>
            </div>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="container">
            <div class="upper-container" ></div>
            <div class="img-sec"><img src="assets/pfp.png" alt=""></div>
            <div class="card-body">
                <h2 class="name">Name <span class="age">Age</span></h2>
                <h3 class="city">Work</h3>
                <h3 class="city">Contact Number</h3>
                <div class="activity-container">
                    <h4>80K <span class="act">Likes</span></h4>
                    <h4>803K <span class="act">Dislikes</span></h4>
                </div>
            </div>
        </div>
    <br>
    </div><!-- /.col-lg-4 -->
    
  </div><!-- /.row -->



</body>


