
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



<div class="container">
            <form class="form-horizontal" role="form">
                
                <h2>Register</h2>
                <br>
                <div class="form-group">
                    <label for="fullName" class="col-sm-3 control-label">Full Name*</label>
                    <div class="col-sm-9">
                        <input type="text" id="fullName" name ="fullName" placeholder="Last name, First Name, Middle Initial" value =""  class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name= "email" placeholder="your-email@example.com" value =""  class="form-control" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone Number*</label>
                    <div class="col-sm-9">
                        <input type="number" id="pnumber" name="pnumber" placeholder="Phone Number(+63)" value ="" class="form-control">
                    </div>
                </div>
                <div class ="form-group">
                    <label for="worker_category" class="col-sm-3 control-label">Work Category*</label>
                    <div class ="col-sm-9">
                        <input type ="text" id="worker_category" name="worker_category" placeholder="Work Category" value ="" class="form-control">
                    </div>
                </div>
                <div class ="form-group">
                    <label for="worker_address" class="col-sm-3 control-label">Your Address*</label>
                    <div class ="col-sm-9">
                        <input type ="text" id="worker_address" name="worker_address" placeholder="Address" value ="" class="form-control">
                    </div>
                </div>
                <div class ="form-group">
                    <label for="worker_description" class="col-sm-3 control-label">Worker Description*</label>
                    <div class ="col-sm-9">
                        <input type ="text" id="worker_description" name="worker_description" placeholder="Describe your work/skills" value ="" class="form-control">
                    </div>
                </div>
                <div class ="form-group">
                    <label for="worker_pic" class="col-sm-3 control-label">Your Picture*</label>
                    <div class ="col-sm-9">
                        <input type ="file" accept = "image/png, image/jpeg" id="worker_pic" name="worker_pic" value ="" class="file-upload" (change)="onFileSelected($event)">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-lg" (click)="addWorkers()">Register Now</button>
            </form>
        </div>